################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/CTAWrapper/CTAWrapper/bin/Debug
/CTAWrapper/CTAWrapper/obj/Debug
*.suo
/CTAWrapper/CTAWrapperTest/bin/Debug
/CTAWrapper/CTAWrapperTest/obj/Debug
/CTAWrapper/CTAWrapperTradeTest/bin/Debug
/CTAWrapper/CTAWrapperTradeTest/obj/Debug
/hundsun/HSMarketCSharpWrapper/.vs/HSMarketCSharpWrapper/v15/Server/sqlite3
/hundsun/HSMarketCSharpWrapper/.vs/HSMarketCSharpWrapper/v15
/hundsun/HSMarketCSharpWrapper/Debug
/hundsun/HSMarketCSharpWrapper/HSMarketCppWrapper/Debug
/hundsun/HSMarketCSharpWrapper/HSMarketCSharpTest/bin/Debug
/hundsun/HSMarketCSharpWrapper/HSMarketCSharpTest/obj/Debug
/hundsun/HSMarketCSharpWrapper/HSMarketCSharpWrapper/bin/Debug
/hundsun/HSMarketCSharpWrapper/HSMarketCSharpWrapper/obj/Debug
/ctp/.vs/CTPCSharpWrapper
/ctp/CTPMarketCppWrapper/Debug
/ctp/CTPMarketCppWrapper/Release
/ctp/CTPMarketCSharpWrapper/bin
/ctp/CTPMarketCSharpWrapper/obj
/ctp/CTPMarketTest/bin
/ctp/CTPMarketTest/obj
/ctp/CTPTradeCppWrapper/Debug
/ctp/CTPTradeCppWrapper/Release
/ctp/CTPTradeCppWrapper/CTPTradeCppWrapper.vcxproj.user
*.user
/ctp/CTPTradeCSharpWrapper/bin
/ctp/CTPTradeCSharpWrapper/obj/Debug
/ctp/CTPTradeCSharpWrapper/obj/Release
/ctp/CTPTradeTest/bin
/ctp/CTPTradeTest/obj
/ctp/Debug
/ctp/Release
/esunny/.vs/TapCSharpWrapper/v15
/esunny/Debug
/esunny/TapQuoteCppWrapper/Debug
/esunny/TapQuoteCSharpWrapper/bin/Debug
/esunny/TapQuoteCSharpWrapper/obj/Debug
/esunny/TapQuoteTest/bin/Debug
/esunny/TapQuoteTest/obj/Debug
/esunny/TapTradeCppWrapper/Debug
/esunny/TapTradeCSharpWrapper/bin/Debug
/esunny/TapTradeCSharpWrapper/obj/Debug
/esunny/TapTradeTest/bin/Debug
/esunny/TapTradeTest/obj/Debug
/hundsun/HSMarketCSharpWrapper/HSTradeCppWrapper/Debug
/hundsun/HSMarketCSharpWrapper/HSTradeCSharpTest/bin/Debug
/hundsun/HSMarketCSharpWrapper/HSTradeCSharpTest/obj/Debug
/hundsun/HSMarketCSharpWrapper/HSTradeCSharpWrapper/bin/Debug
/hundsun/HSMarketCSharpWrapper/HSTradeCSharpWrapper/obj/Debug
/hundsun/HSMarketCSharpWrapper/HSMarketCSharpTest/bin/Release
/hundsun/HSMarketCSharpWrapper/HSMarketCSharpTest/obj/Release
/hundsun/HSMarketCSharpWrapper/HSMarketCSharpWrapper/bin/Release
/hundsun/HSMarketCSharpWrapper/HSMarketCSharpWrapper/obj/Release
/hundsun/HSMarketCSharpWrapper/HSTradeCSharpTest/bin/Release
/hundsun/HSMarketCSharpWrapper/HSTradeCSharpTest/obj/Release
/hundsun/HSMarketCSharpWrapper/HSTradeCSharpWrapper/bin/Release
/hundsun/HSMarketCSharpWrapper/HSTradeCSharpWrapper/obj/Release
/hundsun/HSMarketCSharpWrapper/HSMarketCppWrapper/Release
/hundsun/HSMarketCSharpWrapper/HSTradeCppWrapper/Release
/hundsun/HSMarketCSharpWrapper/Release
